main{
    &.black_bg {
        background-color: black;
      } 
          
.jumbo-cards-container{

        .jumbotron{
            height: 300px;

            .current-series{
                position: relative;
                width: 70%;
                margin: 0 auto;

                h3{
                    position: absolute;
                    top: 280px;
                    left: -10px;
                    color: white;
                    background-color: $brand_main_color;
                    padding: 0.5rem 1rem;
                }
            }
    
            .jumbo-img{
                height: 100%;
                overflow: hidden;
            }
        }
    
        .comics-list{
            margin: 2rem auto;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }
    
        .load-more{
            text-align: center;   
    
            a{
                text-align: center;
                background-color: $brand_main_color;
                display: inline-block;
                color: white;
                padding: 0.3rem 2rem;
                margin-bottom: 1.5rem;
                font-size: 0.8rem;
                font-weight: 500;
            }
        }
  }

  .comics-wrapper{
    width: 70%;
    margin: 50px auto 0 auto;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .comics-card {
        width: calc((100% / 6) - 10px);
        margin: 5px;
        text-align: center;

        .img-container{
            height: 100px;
            background-color: black;
            overflow-y: hidden;
        }
    
        h3 {
            color: white;
            font-size: 1rem;
            font-weight: 300;
            margin: 0.5rem 0;
            }
        }

    }
}